{% extends 'base.html' %}
{% load static %}  <!-- ✅ Load static files here -->

{% block title %}Viral Genome Database{% endblock %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>V-gDB API endpoints</h1>
        <div>
            {% for tag in endpoints.tags %}
                <h2>{{ tag.display_name }}</h2>
                <p>{{ tag.description }}</p>
                {% for path, details in endpoints.paths.items %}

                    {% if details.get.tags and tag.name in details.get.tags %}
                        
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 5%;">{{ details.get.type }}</th>
                                <th style="width: 30%;"><b><a href="/{{ path }}">{{ path }}</a></b></th>
                                <td style="width: 25%;">{{ details.get.summary }}</td>
                                <td style="width: 20%; text-align: right;">
                                    {% if details.get.parameters %}
                                        <button class="btn btn-sm cta-button" data-bs-toggle="collapse" data-bs-target="#paramsTable{{ forloop.counter }}">
                                            View Params
                                        </button>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                    <button class="btn btn-sm main-button" data-bs-toggle="collapse" data-bs-target="#exampleTable{{ forloop.counter }}">
                                        View Example
                                    </button>
                                </td>
                                
                            
                                <!-- <th style="width: 10%;">
                                    
                                </th> -->
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% if details.get.parameters %}
                            <tr class="collapse" id="paramsTable{{ forloop.counter }}">
                                <td colspan="5">
                                    <table class="table table-striped table-font">
                                        <thead>
                                            <tr>
                                                <th>Parameter</th>
                                                <th>Description</th>
                                                <th>Required?</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for parameter in details.get.parameters %}
                                            <tr>
                                                <td>{{ parameter.name }}</td>
                                                <td>{{ parameter.description }}</td>
                                                <td>
                                                    <span class="{% if parameter.required %}text-success{% else %}text-muted{% endif %}">
                                                        {% if parameter.required %}Required{% else %}Optional{% endif %}
                                                    </span>
                                                </td>
                                                <td>{{ parameter.schema.type }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endif %}
                            <tr class="collapse" id="exampleTable{{ forloop.counter }}">
                                <td colspan="5">
                                    <table class="table table-striped table-font">
                                        <thead>
                                            <tr>
                                                <th>Parameter</th>
                                                <th>Description</th>
                                                <th>Required?</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for parameter in details.get.parameters %}
                                            <tr>
                                                <td>{{ parameter.name }}</td>
                                                <td>{{ parameter.description }}</td>
                                                <td>
                                                    <span class="{% if parameter.required %}text-success{% else %}text-muted{% endif %}">
                                                        {% if parameter.required %}Required{% else %}Optional{% endif %}
                                                    </span>
                                                </td>
                                                <td>{{ parameter.schema.type }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                    {% endif %}
                {% endfor %}
                <br></br>
            {% endfor %}
        </div>
    </div>


    
{% endblock %}

